# mongo.conf

{% if mongo_type == "mongo_cs" %}
# config server
configsvr = true
{% endif %}

# where to log
{% if ansible_os_family == "RedHat" %}
logpath=/var/log/mongo/{{ mongo_type }}.log
# fork and run in background
fork = true
{% endif %}
{% if ansible_os_family == "Debian" %}
logpath=/var/log/mongodb/{{ mongo_type }}.log
logappend=true
# fork and run in background
fork = false
{% endif %}

{% if mongo_type != "mongos" %}
# Where to store the data
dbpath={{ mongod_datadir_prefix }}/{{ mongo_type }}
smallfiles={{ mongod_smallfiles }}
{% endif %}

{% if ansible_os_family == "Debian" %}
# pid file commented out on debian because init script handles it 
# pidfilepath = {{ mongod_datadir_prefix }}/{{ mongo_type }}/{{ mongo_type }}.pid
{% else %}
# location of pidfile
pidfilepath = {{ mongod_datadir_prefix }}/{{ mongo_type }}/{{ mongo_type }}.pid
{% endif %}

port = {{ mongod_server_port }}

{% if mongo_type == 'mongos' %}
configdb = {{ mongod_config_servers|join(',') }}
{% endif %}
port = {{ mongos_port }}
# Disables write-ahead journaling
# nojournal = true

# Enables periodic logging of CPU utilization and I/O wait
#cpu = true

# Turn on/off security.  Off is currently the default

{% if mongo_type != 'mongos' %}
{% if mongod_auth %}
auth = true
{% else %}
noauth = true
{% endif %}
{% endif %}

# Verbose logging output.
#verbose = true

# Inspect all client data for validity on receipt (useful for
# developing drivers)
#objcheck = true

# Enable db quota management
#quota = true

# Set oplogging level where n is
#   0=off (default)
#   1=W
#   2=R
#   3=both
#   7=W+some reads
#diaglog = 0

# Ignore query hints
#nohints = true

# Enable the HTTP interface (Defaults to port 28017).
#httpinterface = true

# Turns off server-side scripting.  This will result in greatly limited
# functionality
#noscripting = true

# Turns off table scans.  Any query that would do a table scan fails.
#notablescan = true

# Disable data file preallocation.
#noprealloc = true

# Specify .ns file size for new databases.
# nssize = <size>

{% if mongo_type == 'mongod' %}
# Replication Options
{% if mongod_replication and mongod_auth %}
replSet={{ mongod_replset_name | default(mongod_port) }}
{% endif %}
{% endif %}

# maximum size in megabytes for replication operation log
#oplogSize=1024

{% if mongod_auth %}
# keyFile={{ mongod_datadir_prefix }}/{{ mongo_type }}/secret
keyFile={{ mongod_datadir_prefix }}/secret
{% endif %}

# Ping interval for Mongo monitoring server.
#mms-interval = <seconds>
